# Notion
NOTION_TOKEN=secret_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_RECIPES_DATABASE_ID=17f6d0cbfb9d80fe9281f92f84cb1a76

# Database
DATABASE_URL=sqlite:///./monmarche.db

# Mon Marché
MONMARCHE_STORAGE_STATE_PATH=./data/monmarche_storage_state.json
MONMARCHE_BASE_URL=https://www.mon-marche.fr
MONMARCHE_CART_URL=https://www.mon-marche.fr/panier

# Application
APP_ENV=dev
API_AUTH_TOKEN=dev-token
